<%- include("partial/header") %>
    <div class="container-fluid">
        <section id="nav">
            <nav class="navbar navbar-expand-lg bg-light mb-0 pb-0">
                <a href="" class="navbar-brand ms-5 mb-0"> <img src="plant-icon2.png" alt="Bootstrap" width="30"
                        height="24"> Garden Buddy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto me-5 mb-0">
                        <li class="navbar-item">
                            <a class="nav-link" href="">Our blog </a>
                        </li>
                        <li class="navbar-item">
                            <a class="nav-link" href="#">About us </a>
                        </li>
                        <li class="navbar-item">
                            <a class="nav-link" href="#steps">How it works </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <hr id="line">
        </section>
        <section id="landing">
            <div class="row">
                <div class="col-lg-6">
                    <img class="head" src="head.svg" alt="">
                    <!-- <h1>We make caring  <span class="h1color">of  plants easy</span></h1>  -->
                    <p>gardening is a pleasant activity that can turn into a real hobby.</p>
                    <a href="#steps"> <button type="button" class="btn btn-outline-success btn-lg how">How it
                            works</button></a>
                </div>
                <div class="col-lg-6">
                    <img class="home-img" src="gardening.jpg" alt="gardening">
                </div>
            </div>
        </section>
    </div>

    <section id="features">
        <h1>Features</h1>
        <div class="container fluid feat">
            <div class="row">
                <div class="col lg-4  fle">
                    <div class="features-1">
                        <img class="comm fimage" src="community.jpg" alt="communtiy">
                        <h3 class="features-head">Gardening Community</h3>
                        <p class="fp">Enjoy your hobby with other people around you.Learn different ways of gardening
                            and find people with
                            same hobby , appreciate each other’s work .
                        </p>
                    </div>
                </div>
                <div class="col lg-4 fle">
                    <div class="features-2">
                        <img class="accuracy fimage" src="accuracy.png" alt="accuracy">
                        <h3 class="features-head ha">Accuracy</h3>
                        <p class="fp">Our ML model has a accuracy around 75% that is our output is almost on point.
                        </p>
                    </div>
                </div>
                <div class="col lg-4 fle">
                    <div class="features-3">
                        <img class="cure fimage" src="cure.svg" alt="cure">
                        <h3 class="features-head hc">Cure & Remedies</h3>
                        <p class="fp">We provide step by step cure for the disease our model has detected
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="steps">
        <div class="container-fluid">
            <img class="work " src="how-it-work.svg" alt="">
            <form action="/model" method="GET">
                <button type="submit" class="btn btn-outline-success btn-lg detect">try detect disease</button>
            </form>
        </div>
    </section>
    <%- include("partial/footer") %>